<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>
<h2>Все рецепты</h2>

{% for recipe in page_obj %}
    <b>{{ recipe.title }} </b>
    {% for item in recipe.weight.all %}
        <p>- {{ item.product }} - {{ item.weight }} г</p>
    {% endfor %}
{% empty %}
    <p>Рецептов нет</p>
{% endfor %}
<nav>
    <ul>
        <p>Страницы: </p>
        {% for r in page_obj.paginator.page_range %}
            <a href="?page={{ r }}">{{ r }}</a>
        {% endfor %}
    </ul>
</nav>

</body>
</html>