<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>
<h3>Рецепты без продукта "{{ product }}"</h3>
<b>id | Рецепт </b>
{% for recipe in page_obj %}
    <p>{{ recipe.id }} | {{ recipe.title }} </p>
{% empty %}
    <p>Рецептов нет</p>
{% endfor %}
{% if page_obj.has_other_pages %}
<nav>
    <ul>

        <p>Страницы: </p>
        {% for r in page_obj.paginator.page_range %}
            <a href="?page={{ r }}">{{ r }}</a>
        {% endfor %}
    </ul>
</nav>
{% endif %}
</body>
</html>